* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.clearfix {
  clear: both;
}

html{
		scroll-behavior: smooth;
	background-color: #1a1a1b;
}

body{
font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #fdfdfd;

}
h1 {
font-family: 'Forum', serif;
/font-family: 'Open Sans', sans-serif;
	font-size: 5rem;
	letter-spacing: -.2rem;
	line-height: .8;
	font-weight: 400;
	text-transform: uppercase;
}
h2 {
	font-size: 4rem;
	font-weight: 300;
		letter-spacing: -.2rem;
/font-family: 'Forum', serif;
	font-family: 'Open Sans', sans-serif;
}

h3{
	/font-family: 'Forum', serif;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.5rem;
		font-weight: 300;
	
}

h4{
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0rem;

}

h5{
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;

}
p {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0rem;
}

small {
	font-size: 10px;
	color:#777;
	text-transform: uppercase;
}
.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: -20px;
}


section {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
		flex-direction: column;
  display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 1400px;
	width: 100%;
	height: 100%;
	padding: 30px;
    display: flex;
	justify-content: flex-start;
	flex-direction: column;

}

.archive {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cube {
  position: absolute;
	transition: all .75s ease-out;
	    transform: translateY(80px) ;
	z-index: 40;

}
  .cube:hover {
    transform: translateY(0px) ;
  }

  .face {
	  transform-origin: center;
    position: absolute;
    height: 100px;
    width: 150px;
	  background-size: contain;
  }

  .top {
transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
	   background: #e0e0e0;
  }

  .left {
    transform: rotate(-90deg) skewX(-30deg) scaleY(0.864);
	  
  }

  .right {
   transform:rotate(-30deg) skewX(-30deg) scaleY(0.864);
    background: #e0e0e0;
  }


#cube-01{
	right: 120px;
	top:-20px;
}

#a {
		background: url("../images/david-tamingthewaves.jpg");
	  background-size:cover;
}

#cube-01:hover + .hide-info,
#cube-02:hover + .hide-info,
#cube-03:hover + .hide-info,
#cube-04:hover + .hide-info,
#cube-05:hover + .hide-info,
#cube-06:hover + .hide-info,
#cube-07:hover + .hide-info,
#cube-08:hover + .hide-info,
#cube-09:hover + .hide-info,
#cube-10:hover + .hide-info,
#cube-11:hover + .hide-info,
#cube-12:hover + .hide-info,
#cube-13:hover + .hide-info,
#cube-14:hover + .hide-info,
#cube-15:hover + .hide-info,
#cube-16:hover + .hide-info,
#cube-17:hover + .hide-info,
#cube-18:hover + .hide-info,
#cube-13:hover + .hide-info,
#cube-19:hover + .hide-info,
#cube-20:hover + .hide-info,
#cube-21:hover + .hide-info,
#cube-22:hover + .hide-info,
#cube-23:hover + .hide-info{
visibility: visible;
	opacity: 1;
				transform: translate(0, 0px);

}


#cube-02{
	right: 150px;
	top:-10px;
}

#b {
		background: url("../images/daylily.jpg");
	  background-size:cover;
}
#cube-03{
	right: 180px;
	top:0px;
}

#c {
		background: url("../images/03.jpg");
	  background-size:cover;
}

#cube-04{
	right: 210px;
	top:10px;
}

#d {
		background: url("../images/04.jpg");
	  background-size:cover;
}

#cube-05{
	right: 240px;
	top:20px;
}

#e {
		background: url("../images/05.jpg");
	  background-size:cover;
}

#cube-06{
	right: 270px;
	top:30px;
}

#f {
		background: url("../images/06.jpg");
	  background-size:cover;
}

#cube-07{
	right: 300px;
	top:40px;
}

#g {
		background: url("../images/07.jpg");
	  background-size:cover;
}

#cube-08{
	right: 330px;
	top:50px;
}

#h {
		background: url("../images/08.jpg");
	  background-size:cover;
}

#cube-09{
	right: 360px;
	top:60px;
}

#i {
		background: url("../images/09.jpg");
	  background-size:cover;
}

#cube-10{
	right: 390px;
	top:70px;
}

#j {
		background: url("../images/10.jpg");
	  background-size:cover;
}

#cube-11{
	right: 420px;
	top:80px;
}

#k {
		background: url("../images/11.jpg");
	  background-size:cover;
}

#cube-12{
	right: 450px;
	top:90px;
}

#l {
		background: url("../images/12.jpg");
	  background-size:cover;
}


#cube-13{
	right: 480px;
	top:100px;
}

#m {
		background: url("../images/13.jpg");
	  background-size:cover;
}

#cube-14{
	right: 510px;
	top:110px;
}

#n {
		background: url("../images/14.jpg");
	  background-size:cover;
}

#cube-15{
	right: 540px;
	top:120px;
}

#o {
		background: url("../images/spilled-emotions.jpg");
	  background-size:cover;
}

#cube-16{
	right: 570px;
	top:130px;
}

#p {
		background: url("../images/golden-opportunities.jpg");
	  background-size:cover;
}

#cube-17{
	right: 600px;
	top:140px;
}

#q {
		background: url("../images/high-hopes.jpg");
	  background-size:cover;
}

#cube-18{
	right: 630px;
	top:150px;
}

#r {
		background: url("../images/18.jpg");
	  background-size:cover;
}

#cube-19{
	right: 660px;
	top:160px;
}

#s {
		background: url("../images/19.jpg");
	  background-size:cover;
}

#cube-20{
	right: 690px;
	top:170px;
}

#t {
		background: url("../images/revive.jpg");
	  background-size:cover;
}

#cube-21{
	right: 720px;
	top:180px;
}

#u {
		background: url("../images/sa-mga-mata-ng-agila.jpg");
	  background-size:cover;
}


#cube-22{
	right: 750px;
	top:190px;
}

#v {
		background: url("../images/under-the-moon.jpg");
	  background-size:cover;
}


#cube-23{
	right: 780px;
	top:200px;
}


#w {
		background: url("../images/ylang.jpg");
	  background-size:cover;
}


.footer {
	text-align: right;
	
}

.hide-info {
visibility: hidden;
	position: absolute;
	bottom: -150px;
		font-size: 13px;
	transform: translate(0, 0px);
	text-align: left;
	width: 100%;
	height: auto;
	opacity: 0;
	border-radius: 10px;
		color: #fdfdfd;

	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#cube-22:hover + .hide-info {
visibility: visible;
	opacity: 1;
				transform: translate(0, 0px);

}


.hide-info > span {
	padding-bottom: 150px;
	text-align: right;
}
.hide-info > img {
width:40%;
	margin-bottom: 100px;
	height: auto;
}

/* POP UP */
.popup {
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	height: 100%;
	
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 2ms ease-in-out;
  font-size: 30px;
  text-decoration: none;
  color: #fdfdfd;
}
.popup .close:hover {
	filter: blur(2px);
}
.popup .content {
  height: 100%;
	width: 100%;
  overflow: auto;
	color: #fdfdfd;
	display: flex;
	flex-direction: row;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.image {
	width: 55%;
		height: 100%;
	background-image: url("../images/david-tamingthewaves-big.jpg");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.text {
	height: 100%;
	width: 45%;
	display:flex;
	padding: 30px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}


.about {
z-index: -20;
	animation-delay: .2s;
	width: 30%;
	display: flex;
	flex-direction: column;
justify-content: flex-end;
	
}

.about > h4 {
	margin-bottom: 30px;
}

.about > h5 {
	margin-bottom: 10px;
}

.button {
	padding: 5px 20px;
	animation-delay: .1s;
	height: 30px;
border-radius: 50px;
	border: 1px solid #fdfdfd;
	display: block;
align-items: center;
letter-spacing: 0rem;
	text-transform: uppercase;
	font-size: 12px;
}